<!-- Not toggled switch -->
<div class="w-full h-full flex flex-col justify-center items-center">

<!-- Toggled switch -->
<div class="flex justify-center items-center mt-4">
  <span class="">
      <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
      </svg>
  </span>
  <!-- Switch Container -->
  <div class="w-14 h-7 flex items-center bg-gray-300 rounded-full mx-3 px-1 bg-blue-700" @click="">
      <!-- Switch -->
      <div class="bg-white w-5 h-5 rounded-full shadow-md transform translate-x-7"></div>
  </div>
  <span class="">
      <svg class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
      </svg>
  </span>
</div>
</div>

<div class="space-y-6 ...">
  <div></div>
  <div></div>
  <div></div>
</div>




<div class="min-h-screen bg-white-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-blue mx-8 md:mx-0 shadow rounded-3xl sm:p-10">
      <div class="max-w-md mx-auto">
        
          <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
            <img src="../assets/timeghost.png" >
          </div>      
        
        <div>
          
          <form class="m-4 flex">
            <input class="rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white" placeholder="What are you working on?"/>
          <button class="px-8 rounded-r-lg bg-blue-400  text-gray-800 font-bold p-4 uppercase border-blue-500 border-t border-b border-r">Start</button>
          
          
          <div class="flex space-x-4">
            <div>
          
          </div>
          <div>
          
          </div>
          <div>
          
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
            </svg>
            </div>
          <div>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </div>
        
      </div>
        </form>
        
        </div>


        <body class="antialiased font-sans bg-gray-200">
          <div class="container mx-auto px-4 sm:px-8">
              <div class="py-8">
              
                  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                      <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                          <table class="min-w-full leading-normal">
                              <thead>
                                  <tr>

                                    
                                      <th
                                          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                          Wed,2nd June
                                      </th>

                                      <th
                                      class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                      
                                  </th>

                                  <th
                                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                  
                              </th>

                                  
                              


                                      <th
                                          class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                          Total: 00:24:58
                                      </th>
                                  
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                          <div class="flex items-center">
                                         
                                              <div class="ml-3">
                                                  <p class="text-gray-900 whitespace-no-wrap">
                                                      no description
                                                  </p>
                                              </div>
                                          </div>
                                      </td>

                                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            
                                        </p>
                                    </td>
                                   

                                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                          <p class="text-gray-900 whitespace-no-wrap">
                                              00:09:53
                                              <i class="fas fa-sync-alt"></i>
                                          </p>
                                      </td>

                                      <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">

                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
    
                                      </td>
                                
                                  </tr>

                                  <tr>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="flex items-center">
                                       
                                            <div class="ml-3">
                                                <p class="text-gray-900 whitespace-no-wrap">
                                                  no description
                                                </p>
                                            </div>
                                        </div>
                                    </td>


                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                      <p class="text-gray-900 whitespace-no-wrap">
                                          
                                      </p>
                                  </td>

                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                          00:00:05

                                        </p>
                                    </td>
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">

                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>

                                  </td>
                              
                                </tr>

                                <tr>
                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                      <div class="flex items-center">
                                     
                                          <div class="ml-3">
                                              <p class="text-gray-900 whitespace-no-wrap">
                                                  ddd
                                                  <i class="fas fa-sync-alt"></i>
                                              </p>
                                          </div>
                                      </div>
                                  </td>

                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        
                                    </p>
                                </td>


                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                      <p class="text-gray-900 whitespace-no-wrap">
                                        00:15:00
                                      </p>
                                  </td>

                                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">

                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>

                                  </td>
                            
                              </tr>
                              </tbody>
                          </table>
                         
                      </div>
                  </div>
              </div>
          </div>
      </body>





<router-outlet></router-outlet>
